<form action="{{url_for('companycareers')}}" method='post'>
  <h3>Delete here</h3>

  <label for="id">id</label>
  <input type="id" name='id' placeholder="Enter Id">

  <button name='submit' value='Submit'>Delete</button>

</form>